footer{
    background-color: #373737;
    width: 100%;
    height: auto;
    position:relative;
}

/*Prima parte del footer*/
#footer{
    display:grid;
    grid-template-columns: 1fr 3fr;
    flex-direction:row;
    justify-content: center;
    align-content: flex-start;
    margin-right: 32px;
    margin-left: 32px;
    height: auto;
    padding:30px;
    background-color: #373737;
    column-gap: 30px;
}

.grid-container{
    background-color: #373737;
    color: #FFFFFF;
}

.grid-item {
    background-color: #373737;
    color: #FFFFFF;
    width:340px;
}

#grid-container-1{
    width: 340px;
    height:240px;
    display:grid;
    row-gap: 20px;
}

#gi-11 h3{
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    font-size: 19.2px;
    color: #FFFFFF;
    background-color: #373737;
}

#gi-12{
    height:37px;
}

#gi-12 p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #373737;
}

#gi-13{
    height:30px;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

#logo-icon{
    border-radius: 6px;
    width: 28px;
    height: 28px;
}
#gi-13 a{
    width:133px;
    height:12px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #373737;
    color: #FFFFFF;
    margin-left: 10px;
}

#gi-14{
    height: 30px;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

#gi-14 svg{
    width: 30px;
    height: 30px;
    background-color: #373737;
    fill: #FFFFFF;
}

#gi-14 a{
    width: 133px;
    height: 12px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    background-color: #373737;
    color: #FFFFFF;
    margin-left: 10px;
}

#gi-15 {
    height: 40px;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    column-gap:20px;
}

#gi-15 a{
    width:35px;
    height:40px;
    background-color: #373737;
}

#gi-15 svg{
    width: 35px;
    height: 35px;
    background-color: #373737;
    fill: #FFFFFF;
}

#grid-container-2{
    width:auto;
    height:274px;
    display:grid;
    column-gap: 30px;
}

.grid-item-c2{
    display:grid;
    row-gap:10px;

}

#grid-item-c21{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

#grid-item-c22{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#grid-item-c23{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
}

#gi-31{
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    width:112px;
    height: 19px;
}

.grid-item-2{
    height:22px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #373737;
}

.grid-item-2:hover{
    text-decoration: underline;
}

#gi-41{
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #373737;
    width:105px;
    height: 19px;
}

#gi-51{
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #373737;
    width:105px;
    height: 19px;
}

/*Seconda parte del footer*/
#bar-footer{
    width:100%;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    font-size: 10.5px;
    text-align:center;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #373737;
}