@media screen and (max-width: 599px) {
    #f-nav{
        display:flex;
        flex-direction:column;
        justify-content: center;
        width:100%;
        height:243px;
        padding: 0;
        text-align: center;
    }

    #f-nav-a{
        height:19px;
        width: auto;
        padding:15px;
    }
}

@media screen and (max-device-width: 611px){
    #f-nav-2 #f-nav-3 #f-nav-4 #f-nav-5{
        width:auto;
        height: 56px;
    }
}

@media screen and (max-device-width: 854px){
    #f-nav a{
        height:37px;
    }

    #f-nav-2 #f-nav-3 #f-nav-4 #f-nav-5{
        width:auto;
    }

}

