@media screen and (max-width: 767px) {
    #header{
       height:44px;
        position:relative;
    }

    .header-item{
        height:24px;
        padding: 10px 15px;
    }

    .header-item a{
        position:absolute;
        top:10px;
        width: 24px;
        height:24px;
        z-index:1;
    }

    #header-1{
        width: 24px;
        border-right: 0.67px solid #dbdbdb;
        background-color: #FFFFFF;
    }

    #header-2{
        width: 24px;
    }

    #header-3{
        width: 24px;
    }

    #header-4{
        width: 24px;
    }

    .header-icon{
        display: inline;
        position:absolute;
        top: 10px;
        z-index:0;
    }

    .header-logo{
        display: none;
    }
}