@media screen and (min-width: 1200px){
    /*Slideshow*/
    #slider{
        width: 1140px;
    }

    #slideshow-grid{
        width: 700px;
    }

    /*Articoli di testo*/
    .articles-section{
        width: 1140px;
        margin: 30px auto;
    }

    .articles-flex{
        width: 1170px;
    }

    #articles-grid{
        width: 1170px;
    }

    /*Articoli video*/
    #videos-label{
        width: 1140px;
    }

    #column-1-v{
        width: 760px;
    }

    .v-column-1-part{
        width: 790px;
    }

    .tmplt-article{
        width: 365px;
    }

    #column-2-v{
        width: 380px;
    }

    #v-column-2-item{
        width: 320px;
    }

    /*Photo Gallery*/
    #photo-gallery{
        width: 1140px;
    }

    #photo-gallery-flex{
        width: 1140px;
    }

    .img-photo-gallery{
        width: 570px;
    }

    /*Image with description*/
    #image-with-description-container{
        width: 1140px;
    }

    #figure{
        width: 750px
    }

    /*Ultima parte articoli*/
    #last-articles-grid{
        width: 1170px;
    }

    #part-1{
        width: 780px;
    }

    .last-articles{
        width: 360px;
    }
}

@media screen and (min-width: 1050px){
    .articles-flex{
        flex-direction: row;
        justify-content: flex-start;
    }

    #articles-grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "column-1 column-2";
        margin: -15px;
    }
}

@media screen and (max-width: 1049px){
    /*Articoli di testo*/
    #column-1{
        flex-direction: row;
    }

    #latest-news{
       width: 46%;
    }
}

@media screen and (max-width: 1050px) and (min-width: 1020px){
    /*Articoli di testo*/
    .c2p3-article{
        flex: 25%;
    }

    /*Articoli video*/
    #column-2-v{
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width: 1020px){
    /*Photo Gallery*/
    #photo-gallery-flex{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .photo-gallery-figure{
        height: 320px;
        position: relative;
    }

    .img-photo-gallery{
        height: 320px;
    }

    .img-photo-gallery img{
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        object-position: 70% 50%;
        position: absolute;
        top: 0;
        left: 0;
    }

    /*From our partners*/
    #partners-flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 15px;
    }

    /*Ultima parte articoli*/
    #last-articles-grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "last-articles white-space";
    }

    #white-space{
        display: inline;
    }
}

@media screen and (min-width: 910px){
    /*Slideshow*/
    #slider-photos-container{
        width: 850px;
        height: 410px;
    }

    .mySlides{
        width: 728px;
        height: 410px;
    }
}

@media screen and (min-width: 690px) and (max-width: 1020px){
    /*Articoli video*/
    #column-2-v{
        flex-direction: row;
        justify-content: flex-end;
        gap: 0;
    }

    #v-column-2-item{
        width: 50%;
    }

    #v-part-3-grid{
        grid-template-columns: repeat(2, 1fr) 0;
    }

    #v-white-space-2{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .articles-section{
        padding: 0 15px;
    }

    /*Slideshow*/
    .button-div{
        display: none;
    }

    .slide-button{
        display: none;
    }

    /*Articoli di testo*/
    #column-1{
        flex-direction: row-reverse;
    }

    /*Ultima parte articoli*/
    #part-1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 767px) and (min-width: 600px){
    #articles{
        width: auto;
        margin: 30px 0;
        padding: 0 15px;
    }
}

@media screen and (max-width: 689px){
    /*Articoli di testo*/
    .articles-flex{
        margin: 0;
    }

    #articles-grid{
        margin:0;
    }

    #column-1{
        margin: 30px 0;
    }

    #latest-news{
        margin: 30px 0;
        width: 100%;
    }

    #column-2{
        margin: 30px 0;
    }

    #column-2-part-1{
        margin: 0;
    }

    #article-1{
        margin: 0;
    }

    #column-2-part-2{
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
    }

    .c2p2-article{
        margin: 30px 0;
    }

    #column-2-part-3{
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
    }

    .c2p3-article{
        margin: 30px 0;
    }

    /*Articoli video*/
    #column-1-v{
        margin: 30px 0;
        row-gap:0;
    }

    .v-column-1-part{
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
    }

    .tmplt-article{
        margin: 30px 0;
    }

    #v-part-3-grid{
        display: inline;
        margin: 30px 0;
    }

    .v-white-space{
        display: none;
    }

    /*Ultima parte articoli*/
    #last-articles-grid{
        margin: 0;
    }

    #part-1{
        margin: 30px 0;
    }
}

@media screen and (max-width: 659px){
    /*For our partners*/
    #partners-flex{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(3, 1fr);
        gap:0;
        margin: 30px 0;
        padding: 0 15px;
    }

    /*Image with description*/
    #img-with-description-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 628px){
    /*Articoli video*/
    #v-column-2-item-text{
        text-align: center;
        align-items: center;
    }

    #v-column-2-item-text form{
        width: 100%;
    }
}

@media screen and (max-width: 599px){
    /*Articoli di testo*/
    .articles-section{
        width:auto;
        padding: 0;
        margin: 30px 0;
    }
}

